body {
	font-family: 'Raleway', sans-serif;
	background-color: #97CCE5;
}

header {
	width: 100%;
	background-color: #C7CCCB;
	height: 3.5em;
}

h2 {
	font-weight: 800;
	font-size: 2.5em;
}

h3 {
	font-size: 1.75em;
}

h4 {
	font-size: 1.25em;
}

p {
	padding-bottom: 2.25em;
	line-height: 1.25em;
}

.reveal .fa {
  font-family: 'FontAwesome';
  font-style: normal;
}

.page_title {
	float: left;
	padding: 0.4em 2em;
}

.menu_list {
	float: right;
	padding: 1.25em 2em;
}

.menu_list li {
	display: inline;
	padding-right: 2.5em;
}

.menu_list a {
	text-decoration: none;
	color: #07677F;
}

.menu_list a:hover {
	text-decoration: underline;
}

.container {
	width: 100%;
	height: 100%;
}

.wrapper {
	max-width: 960px;
	margin-top: 2em;
	margin-left: auto;
	margin-right: auto;
	padding: 50px 2em;
	background-color: #FFFFFF;
	border-radius: 5px;
}

.wrapper:last-child {
	margin-bottom: 2em;
}

.section_title {
	width: 100%;
	padding-bottom: 15px;
}

.subsection {
	height: 450px;
}

.content {
	height: inherit;
}

.img_container {
	float: left;
	width: 296px;
	height: 320px;
}

.img_container img {
	width: 100%;
	height: 100%;
	padding: 3px;
}

.right_col {
	float: right;
	width: 50%;
}

.right_col a {
	text-decoration: none;
	color: #07677F;
}

.right_col a:hover {
	text-decoration: underline;
}

.portfolio_container {
	width: 100%;
}

.portfolio_list {
	text-align: center;
}

.portfolio_list li {
	display: inline;
}

.portfolio_list p {
	padding-top: 0.75em;
}

.snapshot_container {
	height: 216px;
	width: 28%;
	float: left;
	margin-left: 20px;
	margin-right: 20px;
}

.snapshot_container h4 {
	padding-bottom: 1em;
}

.snapshot_container a {
	text-decoration: none;
	color: #000000;
}

.snapshot_container img {
	width: 100%;
	height: 100%;
	padding: 0.5em;
	margin: 2px;
	border: 1px solid #000000;

	-webkit-transition: all 0.5s ease;
       -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
         -o-transition: all 0.5s ease;
            transition: all 0.5s ease;
}

.snapshot_container img:hover {
	-webkit-transform: rotate(-10deg);
       -moz-transform: rotate(-10deg);
        -ms-transform: rotate(-10deg);
         -o-transform: rotate(-10deg);
            transform: rotate(-10deg);
}

.footer {
	max-width: 960px;
	margin-top: 0.25em;
	margin-left: auto;
	margin-right: auto;
	padding: 50px 2em; 
}

.social_header {
	display: block !important;
	text-align: center;
	padding-bottom: 5px;
}

.social_icons {
	margin: 0 auto;
	text-align: center;
}

.social_icons li {
	display: inline;
	padding-left: 2em;
}

.social_icons a {
	text-decoration: none;
	color: #97CCE5;
	padding: 0.75em;
	border: 3px solid #FFFFFF;
	border-radius: 50%;
	background-color: #FFFFFF;
	
}

.social_icons a:hover {
	text-decoration: none;
	background-color: #00334C;
	border: 3px solid #FFFFFF;
}

.social_icons i {
	font-size: 1.3em;
	vertical-align: middle;
	text-align: center;
}